{% extends "movies/base.html" %}

{% block article %}

<div class="mt-6">
    <form method="post">
      {% csrf_token %}
      <div class="text-center font-bold text-3xl my-4">
        <h2>{{ movie_name }}</h2>
      </div>
      <div>
        {{ form.rating.label_tag }}
        <div class="my-2 text-black">
          {{ form.rating }}
        </div>
      </div>
      <div class="my-8">
        {{ form.review.label_tag }}
        <div class="my-2 text-black">
          {{ form.review }}
        </div>
      </div>
      <div class="mt-6 flex items-center justify-between">
          <a href="{% url 'movie_detail' movie_id=movie_id %}" class="inline-block px-4 py-2 bg-red-600 text-white rounded-md text-center hover:bg-red-700">Return</a>
          <button type="submit" class="inline-block px-4 py-2 bg-blue-600 text-white rounded-md text-center hover:bg-blue-700">Send</button>
      </div>
  </form>
</div> 

{% endblock %}